@charset "UTF-8";

@media (max-width: 768px) {
    table {
        width: 90%;
    }

    thead > tr > th:nth-child(2)::after {
        content: ' 📙';
    }

    thead > tr > th:nth-child(3)::after {
        content: ' 📖';
    }
}

@media (min-width: 769px) {
    thead > tr > th:nth-child(2)::before {
        content: '📙 ';
    }

    thead > tr > th:nth-child(3)::before {
        content: '📖 ';
    }
}